@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Leaf Solutions | Çözümler | Bireysel";
    ViewBag.Description = "Leaf Solutions bireysel çözümler sayfası";
    ViewBag.Keywords = "leaf, solutions, bireysel, çözümler, sayfası";
}

<div class="content-text">
    <h2>Bireysel Çözümler</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus nisl neque, ut posuere eros ultricies eget. Vivamus ut blandit magna. Mauris eleifend nibh in est commodo, nec aliquet mi lobortis.
    </p> 
    <h3>Hosting</h3>
    
    <div class="package">
        <img src="~/Content/img/leaf-green-plus.png" alt="leaf green plus logo" class="package-img" />
        <div class="package-details-1">
            <span style="font-size: 14px; font-weight: bold;">YeşilPlus Paket</span><br/><br/>
            <span>2 Yıl Hosting</span><br/>
            <span>10 Alan Adı</span><br/>
            <span>Sınırsız Veritabanı</span><br/>
            <span>Sınırsız Alan ve Trafik</span><br/>
            <span>PHP4 & .NET2</span><br/>
            <span>Windows Server 2008</span><br/>
        </div>
        <div class="package-details-2">
            <span style="font-size: 14px; font-weight: bold;"></span><br /><br />
            <span>2 Yıl boyunca 7/24 kesintisiz hosting</span><br />
            <span>10 alan adına kadar yönlendirme</span><br />
            <span>Sınırsız MSSQL ve MySQL veritabanı</span><br />
            <span>Sınırsız veri depolama ve trafik</span><br />
            <span>PHP4 & .NET2 framework destekleri</span><br />
            <span>Windows Server 2008'e erişim imkânı</span><br />
        </div>
        <div class="package-button">
            <span class="price">420 TL</span>
            <span class="buy">Satın al</span>
        </div>
    </div>
    
    <div class="package">
        <img src="~/Content/img/leaf-green.png" alt="leaf green logo" class="package-img" />
        <div class="package-details-1">
            <span style="font-size: 14px; font-weight: bold;">Yeşil Paket</span><br /><br />
            <span>1 Yıl Hosting</span><br />
            <span>2 Alan Adı</span><br />
            <span>4 Veritabanı</span><br />
            <span>500GB Alan ve Trafik</span><br />
            <span>PHP4 & .NET2</span><br />
            <span>Windows Server 2008</span><br />
        </div>
        <div class="package-details-2">
            <span style="font-size: 14px; font-weight: bold;"></span><br /><br />
            <span>1 Yıl boyunca 7/24 kesintisiz hosting</span><br />
            <span>120 alan adına kadar yönlendirme</span><br />
            <span>4 adet MSSQL ve MySQL veritabanı</span><br />
            <span>Aylık 500GB veri depolama ve trafik</span><br />
            <span>PHP4 & .NET2 framework destekleri</span><br />
            <span>Windows Server 2008'e erişim imkânı</span><br />
        </div>
        <div class="package-button">
            <span class="price">160 TL</span>
            <span class="buy">Satın al</span>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus nisl neque, ut posuere eros ultricies eget. Vivamus ut blandit magna. Mauris eleifend nibh in est commodo, nec aliquet mi lobortis.
    </p> 
</div>
