@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Leaf Solutions | Çözümler";
    ViewBag.Description = "Leaf Solutions çözümler sayfası";
    ViewBag.Keywords = "leaf, solutions, çözümler, sayfası";
}

<div class="content-text">
    <h2>Çözümler</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus nisl neque, ut posuere eros ultricies eget. Vivamus ut blandit magna. Mauris eleifend nibh in est commodo, nec aliquet mi lobortis.
    </p>
    <div class="solution-option-container">
        <a href="/cozumler/bireysel/">
            <div class="solution-option personal">
                <span>Bireysel</span>
            </div>
        </a>
        <a href="/cozumler/kurumsal/">
            <div class="solution-option corporate">
                <span>Kurumsal</span>
            </div>
        </a>
    </div>
</div>
